@font-face {
		font-family: "Roboto";
		src: url("/fonts/roboto.woff2") format("woff2"), url("/fonts/roboto.woff") format("woff");
		font-style: normal;
		font-weight: 400;
}
@font-face {
		font-family: "Roboto";
		src: url("/fonts/robotomedium.woff2") format("woff2"), url("/fonts/robotomedium.woff") format("woff");
		font-style: normal;
		font-weight: 500;
}
@font-face {
		font-family: "Roboto";
		src: url("/fonts/robotobold.woff2") format("woff2"), url("/fonts/robotobold.woff") format("woff");
		font-style: normal;
		font-weight: 700;
}
* {
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
		box-sizing: border-box;
}

body {
		color: #ffffff;
		font-family: "Roboto", sans-serif;
		font-size: 16px;
		font-weight: 400;
		background-color: #849d8f;
}

.wrap {
		width: 100%;
		max-width: 1165px;
		margin: 0 auto;
		padding-left: 10px;
		padding-right: 10px;
}

.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
}

.header__menu {
		display: flex;
		justify-content: space-between;
		padding-top: 10px;
}

.menu-left {
		width: 48.9082969432%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
}
.menu-left__item {
		position: relative;
}
.menu-left__link {
		color: #ffffff;
		font-weight: 700;
		border-bottom: 1px solid #a1b6aa;
}
.menu-left__link:hover {
		padding: 10px 14px;
		color: #323232;
		text-align: center;
		background-color: #f7f6f3;
		border: none;
		border-radius: 30px;
		transition: all 0.5s ease-out;
}
.menu-left__link:active {
		box-shadow: inset 0 2px 1px #696969;
		background-color: #f8f7f4;
		transition: all 0.3s ease-out;
}
.menu-left__submenu:hover .submenu {
		display: block;
}
.menu-left__item:nth-child(3) {
		margin-left: 25px;
		margin-right: 30px;
}
.menu-left__logo {
		margin-right: 25px;
		/* 		img {
			max-width: 100%;
		} */
}

.submenu {
		position: absolute;
		top: 30px;
		left: -5px;
		z-index: 100;
		display: none;
		min-width: 145px;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
		background-color: #f8f7f4;
		border-radius: 10px;
		border-top: 3px solid #849d8f;
}
.submenu__item {
		padding: 10px 0;
		cursor: pointer;
}
.submenu__item:not(:first-child):hover {
		background-color: #fbded7;
}
.submenu__item:not(:first-child):active {
		background-color: #f6b5a5;
}
.submenu__underline {
		position: relative;
}
.submenu__underline::after {
		position: absolute;
		top: 35px;
		left: 10px;
		content: "";
		width: 128px;
		height: 1px;
		background-color: #d1d0ce;
}
.submenu__link {
		padding-left: 20px;
		color: #323232;
		font-size: 0.85em;
}
.submenu__active {
		font-weight: 700;
}

.menu-right-box {
		width: 23.1441048035%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
}

.time-job {
		position: absolute;
		top: 90%;
		right: 0;
		display: flex;
		flex-direction: column;
		text-align: right;
}
.time-job__time {
		margin-bottom: 8px;
		font-size: 0.87em;
		font-weight: 700;
}
.time-job__tell {
		font-size: 1.38em;
		font-weight: 700;
}

.menu-right {
		display: flex;
		justify-content: space-between;
}
.menu-right__item {
		min-width: 100px;
		margin-right: 10px;
		padding: 8px 0;
		font-size: 0.87em;
		font-weight: 500;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 20px;
		cursor: pointer;
}
.menu-right__item:first-child {
		position: relative;
		min-width: 35px;
}
.menu-right__item:nth-child(2) {
		position: relative;
}
.menu-right__item:last-child {
		margin-right: 0;
}
.menu-right__item:hover {
		background-color: #f8f7f4;
		transition: all 0.5s ease-out;
}
.menu-right__item:hover .login:before {
		background-image: url("/img/login-hover.svg");
		transition: all 0.5s ease-out;
}
.menu-right__item:hover .login {
		color: #323232;
		transition: all 0.5s ease-out;
}
.menu-right__item:hover .search {
		background-image: url("/img/loupe-hover.svg");
		transition: all 0.5s ease-out;
}
.menu-right__item:hover .cart::before {
		background-image: url("/img/cart-hover.svg");
		transition: all 0.5s ease-out;
}
.menu-right__item:hover .cart {
		color: #323232;
		transition: all 0.5s ease-out;
}

.search {
		position: absolute;
		margin: 0;
		padding: 0;
		top: 8px;
		left: 9px;
		display: block;
		width: 17px;
		height: 17px;
		background-image: url("/img/loupe.svg");
		background-color: transparent;
		border: none;
		cursor: pointer;
}

.login {
		position: relative;
		margin-left: 21px;
		padding-left: 10px;
		color: #ffffff;
		background-color: transparent;
		border: none;
		cursor: pointer;
}

.login::before {
		position: absolute;
		top: -2px;
		left: -21px;
		display: block;
		width: 21px;
		height: 20px;
		content: "";
		background-image: url("/img/login.svg");
}

.cart {
		position: relative;
		margin-left: 21px;
		padding-left: 8px;
		color: #ffffff;
		background-color: transparent;
		border: none;
		cursor: pointer;
}

.cart::before {
		position: absolute;
		top: -2px;
		left: -21px;
		display: block;
		width: 21px;
		height: 20px;
		content: "";
		background-image: url("/img/cart.svg");
}

.btn-search {
		display: none;
		position: absolute;
		z-index: 100;
		top: 40px;
		right: 0;
		width: 341px;
		padding: 20px 15px;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
		background-color: #f8f7f4;
		border-radius: 10px;
}
.btn-search input {
		width: 100%;
		padding: 15px 0 15px 15px;
		color: #999999;
		border: 1px solid #d3d3d2;
		border-radius: 10px;
}
.btn-search input::placeholder {
		color: #999999;
		font-size: 0.87em;
		font-weight: 400;
}

.login-form {
		display: none;
		width: 280px;
		position: absolute;
		top: 35px;
		right: 2px;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
		background-color: #f8f7f4;
		border-radius: 10px;
		z-index: 100;
}

.login-box {
		width: 100%;
		padding: 20px 20px 22px 19px;
}

.input-box {
		display: flex;
		flex-direction: column;
}
.input-box input {
		width: 100%;
		margin-bottom: 20px;
		padding: 15px 0;
		padding-left: 15px;
		color: #999999;
		font-size: 0.87em;
		font-weight: 400;
		border: 1px solid #d3d3d2;
		border-radius: 10px;
}
.input-box input::placeholder {
		color: #999999;
		font-size: 1em;
		font-weight: 400;
}

.link-box {
		display: flex;
		justify-content: space-between;
}
.link-box__btn {
		min-width: 100px;
		padding: 15px 0;
		color: #fefefe;
		font-size: 1.3em;
		font-weight: 700;
		text-align: center;
		box-shadow: 0 1px 2px #ac1000;
		background-color: #e84d37;
		background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
		border: none;
		border-radius: 18px;
		outline: none;
		cursor: pointer;
}
.link-box__btn:hover {
		box-shadow: 0 2px 2px #ac1000;
		background-color: rgba(255, 255, 255, 0.2);
		background-color: #ffffff;
		background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
		transition: all 0.3s ease-out 0.1s;
}
.link-box__btn:active {
		box-shadow: inset 0 2px 2px #942718;
		background-color: rgba(0, 0, 0, 0.07);
		background-color: #ffffff;
		background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
		transition: all 0.3s ease-out 0.1s;
}

.link {
		display: flex;
		flex-direction: column;
		justify-content: center;
}
.link a {
		margin-bottom: 8px;
		text-align: left;
		color: #323232;
		font-size: 0.95em;
		text-decoration: underline;
}
.link a:last-child {
		margin-bottom: 0;
}
.link a:hover, .link a:active {
		color: #e84d37;
}

.slider-box {
		position: relative;
		min-height: 565px;
}

.toggle-box {
		position: absolute;
		display: flex;
		bottom: 0;
		z-index: 50;
}

.toggle-off {
		display: block;
		width: 21px;
		height: 21px;
		margin-right: 10px;
		background-color: transparent;
		border: 1px solid #ffff;
		border-radius: 50%;
		cursor: pointer;
		transition: all 0.5s ease-out;
}

.toggle-off:last-child {
		margin-right: 0;
}

#radio-one:checked ~ .toggle-box .toggle-off:nth-child(1),
#radio-two:checked ~ .toggle-box .toggle-off:nth-child(2),
#radio-three:checked ~ .toggle-box .toggle-off:nth-child(3) {
		background-color: #fff;
}

#radio-one:checked ~ .slider .slider__item:nth-child(1),
#radio-two:checked ~ .slider .slider__item:nth-child(2),
#radio-three:checked ~ .slider .slider__item:nth-child(3) {
		display: block;
}

.slider {
		width: 100%;
		display: flex;
		justify-content: row;
}
.slider__item:nth-child(1) {
		display: none;
}
.slider__item:nth-child(2) {
		display: none;
}
.slider__item:nth-child(3) {
		display: none;
}
.slider__title {
		position: relative;
		width: 58.2532751092%;
		margin: 0 auto;
		font-size: 3.75em;
		font-weight: 700;
		transform: translateY(350px);
		z-index: 20;
}
.slider__btn {
		position: relative;
		min-width: 280px;
		display: block;
		margin: 0 auto;
		padding: 15px 0;
		color: #ffff;
		text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
		font-size: 2em;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
		background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
		border: none;
		outline: none;
		border-radius: 20px;
		transform: translateY(370px);
		cursor: pointer;
		z-index: 30;
}
.slider__btn:hover {
		box-shadow: 0 2px 2px #ac1000;
		background-image: linear-gradient(to top, #f17d64 0%, #f26843 100%);
}
.slider__btn:active {
		box-shadow: inset 0 2px 2px #942718;
		background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.slider-img {
		position: relative;
}
.slider-img__left {
		position: absolute;
		top: 40px;
		left: 245px;
		z-index: 4;
}
.slider-img__right {
		position: absolute;
		top: 90px;
		right: 250px;
		z-index: 2;
}
.slider-img__backlight {
		position: absolute;
		top: -80px;
		z-index: 1;
		pointer-events: none;
}