@charset "UTF-8";
@font-face {
		font-family: "Roboto";
		src: url("/fonts/roboto.woff2") format("woff2"), url("/fonts/roboto.woff") format("woff");
		font-style: normal;
		font-weight: 400;
}
@font-face {
		font-family: "Roboto";
		src: url("/fonts/robotomedium.woff2") format("woff2"), url("/fonts/robotomedium.woff") format("woff");
		font-style: normal;
		font-weight: 500;
}
@font-face {
		font-family: "Roboto";
		src: url("/fonts/robotobold.woff2") format("woff2"), url("/fonts/robotobold.woff") format("woff");
		font-style: normal;
		font-weight: 700;
}
* {
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
}

body {
		color: #ffffff;
		font-family: "Roboto", sans-serif;
		font-size: 16px;
		font-weight: 400;
		background-color: #849d8f;
}

.body {
		position: relative;
}

.feedback {
		display: none;
		position: absolute;
		top: 15%;
		left: 50%;
		margin: 0 0 0 -240px;
		z-index: 200;
}

.form-feedback {
		width: 480px;
		background-color: #f8f7f4;
		border-radius: 10px;
}
.form-feedback__inner {
		position: relative;
		padding: 16px 17px 27px 24px;
}
.form-feedback__title {
		margin-bottom: 24px;
		color: #323232;
		font-size: 1.5em;
		font-weight: 500;
}
.form-feedback__close-btn {
		position: absolute;
		top: 17px;
		right: 17px;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
}
.form-feedback__input input {
		display: block;
		width: 267px;
		margin-bottom: 20px;
		padding: 12px 15px 12px 15px;
		color: #999999;
		border: 1px solid rgba(178, 178, 178, 0.52);
		background-color: #ffffff;
		border-radius: 5px;
}
.form-feedback__input input::placeholder {
		color: #999999;
}
.form-feedback__commmit {
		display: block;
		margin-bottom: 25px;
		padding: 12px 15px;
		color: #999999;
		background-color: #ffffff;
		border: 1px solid rgba(178, 178, 178, 0.52);
		border-radius: 5px;
}
.form-feedback__commmit::placeholder {
		color: #999999;
}
.form-feedback__submit {
		width: 139px;
		padding: 14px 0;
		color: #fefefe;
		font-size: 1.13em;
		font-weight: 700;
		text-align: center;
		box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
		background-color: #e84d37;
		background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
		border: none;
		border-radius: 30px;
		outline: none;
		transform: translateX(300px);
		cursor: pointer;
}
.form-feedback__submit:hover {
		box-shadow: 0 2px 2px #ac1000;
		background-image: linear-gradient(to top, #f17d64 0%, #f26843 100%);
}
.form-feedback__submit:active {
		box-shadow: inset 0 2px 2px #942718;
		background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.overlay {
		width: 100%;
		height: 100%;
		background-image: url("/img/overlay.png");
}

.wrap {
		width: 100%;
		max-width: 1165px;
		margin: 0 auto;
		padding-left: 10px;
		padding-right: 10px;
}

.visually-hidden {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
}

.header__menu {
		display: flex;
		justify-content: space-between;
		padding-top: 10px;
}

.menu-left {
		width: 55.0218340611%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
}
.menu-left__item {
		position: relative;
}
.menu-left__link {
		color: #ffffff;
		font-weight: 700;
		border-bottom: 1px solid #a1b6aa;
}
.menu-left__link:hover {
		padding: 10px 14px;
		color: #323232;
		text-align: center;
		background-color: #f7f6f3;
		border: none;
		border-radius: 30px;
		transition: all 0.5s ease-out;
}
.menu-left__link:active {
		box-shadow: inset 0 2px 1px #696969;
		background-color: #f8f7f4;
		transition: all 0.3s ease-out;
}
.menu-left__submenu:hover .submenu {
		display: block;
}
.menu-left__item:nth-child(3) {
		margin-left: 25px;
		margin-right: 30px;
}
.menu-left__logo {
		margin-right: 25px;
		/* 		img {
			max-width: 100%;
		} */
}

.submenu {
		position: absolute;
		top: 30px;
		left: -5px;
		z-index: 100;
		display: none;
		min-width: 145px;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
		background-color: #f8f7f4;
		border-radius: 10px;
		border-top: 3px solid #91ac9d;
}
.submenu__item {
		padding: 10px 0;
		cursor: pointer;
}
.submenu__item:not(:first-child):hover {
		background-color: #fbded7;
}
.submenu__item:not(:first-child):active {
		background-color: #f6b5a5;
}
.submenu__underline {
		position: relative;
}
.submenu__underline::after {
		position: absolute;
		top: 35px;
		left: 10px;
		content: "";
		width: 128px;
		height: 1px;
		background-color: #d1d0ce;
}
.submenu__link {
		padding-left: 20px;
		color: #323232;
		font-size: 0.85em;
}
.submenu__active {
		font-weight: 700;
}

.menu-right-box {
		width: 23.1441048035%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
}

.time-job {
		position: absolute;
		top: 90%;
		right: 0;
		display: flex;
		flex-direction: column;
		text-align: right;
}
.time-job__time {
		margin-bottom: 3px;
		font-size: 0.87em;
		font-weight: 700;
}
.time-job__tell {
		font-size: 1.38em;
		font-weight: 700;
}

.menu-right {
		position: relative;
		display: flex;
		justify-content: space-between;
}
.menu-right__item {
		min-width: 100px;
		margin-right: 10px;
		padding: 8px 0;
		font-size: 0.87em;
		font-weight: 500;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 20px;
		cursor: pointer;
}
.menu-right__item:first-child {
		position: relative;
		min-width: 35px;
}
.menu-right__item:nth-child(2) {
		position: relative;
}
.menu-right__item:last-child {
		margin-right: 0;
}
.menu-right__item:hover {
		background-color: #f8f7f4;
		transition: all 0.5s ease-out;
}
.menu-right__item:hover .login:before {
		background-image: url("/img/login-hover.svg");
		transition: all 0.5s ease-out;
}
.menu-right__item:hover .login {
		color: #323232;
		transition: all 0.5s ease-out;
}
.menu-right__item:hover .search {
		background-image: url("/img/loupe-hover.svg");
		transition: all 0.5s ease-out;
}
.menu-right__item:hover .cart::before {
		background-image: url("/img/cart-hover.svg");
		transition: all 0.5s ease-out;
}
.menu-right__item:hover .cart {
		color: #323232;
		transition: all 0.5s ease-out;
}
.menu-right__item:active {
		box-shadow: inset 0 2px 1px #696969;
		background-color: #f8f7f4;
		transition: all 0.3s ease-out;
}

.search {
		position: absolute;
		margin: 0;
		padding: 0;
		top: 8px;
		left: 9px;
		display: block;
		width: 17px;
		height: 17px;
		background-image: url("/img/loupe.svg");
		background-color: transparent;
		border: none;
		cursor: pointer;
}

.login {
		position: relative;
		margin-left: 21px;
		padding-left: 10px;
		color: #ffffff;
		background-color: transparent;
		border: none;
		cursor: pointer;
}

.login::before {
		position: absolute;
		top: -2px;
		left: -21px;
		display: block;
		width: 21px;
		height: 20px;
		content: "";
		background-image: url("/img/login.svg");
}

.cart {
		position: relative;
		margin-left: 21px;
		padding-left: 8px;
		color: #ffffff;
		background-color: transparent;
		border: none;
		cursor: pointer;
}

.cart::before {
		position: absolute;
		top: -2px;
		left: -21px;
		display: block;
		width: 21px;
		height: 20px;
		content: "";
		background-image: url("/img/cart.svg");
}

.btn-search {
		display: none;
		position: absolute;
		z-index: 100;
		top: 40px;
		right: 0;
		width: 341px;
		padding: 20px 15px;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
		background-color: #f8f7f4;
		border-radius: 10px;
}
.btn-search input {
		width: 100%;
		padding: 15px 0 15px 15px;
		color: #999999;
		border: 1px solid #d3d3d2;
		border-radius: 10px;
}
.btn-search input::placeholder {
		color: #999999;
		font-size: 0.87em;
		font-weight: 400;
}

.login-form {
		display: none;
		width: 280px;
		position: absolute;
		top: 35px;
		right: 2px;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
		background-color: #f8f7f4;
		border-radius: 10px;
		z-index: 100;
}

.login-box {
		width: 100%;
		padding: 20px 20px 22px 19px;
}

.input-box {
		display: flex;
		flex-direction: column;
}
.input-box input {
		width: 100%;
		margin-bottom: 20px;
		padding: 15px 0;
		padding-left: 15px;
		color: #999999;
		font-size: 0.87em;
		font-weight: 400;
		border: 1px solid #d3d3d2;
		border-radius: 10px;
}
.input-box input::placeholder {
		color: #999999;
		font-size: 1em;
		font-weight: 400;
}

.link-box {
		display: flex;
		justify-content: space-between;
}
.link-box__btn {
		min-width: 100px;
		padding: 15px 0;
		color: #fefefe;
		font-size: 1.3em;
		font-weight: 700;
		text-align: center;
		box-shadow: 0 1px 2px #ac1000;
		background-color: #e84d37;
		background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
		border: none;
		border-radius: 18px;
		outline: none;
		cursor: pointer;
}
.link-box__btn:hover {
		box-shadow: 0 2px 2px #ac1000;
		background-color: rgba(255, 255, 255, 0.2);
		background-color: #ffffff;
		background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
		transition: all 0.3s ease-out 0.1s;
}
.link-box__btn:active {
		box-shadow: inset 0 2px 2px #942718;
		background-color: rgba(0, 0, 0, 0.07);
		background-color: #ffffff;
		background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
		transition: all 0.3s ease-out 0.1s;
}

.link {
		display: flex;
		flex-direction: column;
		justify-content: center;
}
.link a {
		margin-bottom: 8px;
		text-align: left;
		color: #323232;
		font-size: 0.95em;
		text-decoration: underline;
}
.link a:last-child {
		margin-bottom: 0;
}
.link a:hover, .link a:active {
		color: #e84d37;
}

.menu-left__active {
		padding: 10px 14px;
		color: #ffffff;
		text-align: center;
		background-color: #d07058;
		border: none;
		border-radius: 30px;
}

.menu-right__active {
		width: 117px;
		background-color: #f8f7f4;
}

.menu-right__active:active {
		box-shadow: inset 0 2px 1px #696969;
		background-color: #f8f7f4;
		transition: all 0.3s ease-out;
}

.cart-active {
		position: relative;
		margin-left: 21px;
		padding-left: 8px;
		color: #323232;
		background-color: transparent;
		border: none;
		cursor: pointer;
}

.cart-active::before {
		position: absolute;
		top: -2px;
		left: -21px;
		display: block;
		width: 21px;
		height: 20px;
		content: "";
		background-image: url("/img/cart_active.svg");
}

.cart-form {
		display: none;
		position: absolute;
		top: 35px;
		right: 0;
		width: 540px;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
		background-color: #f8f7f4;
		border-radius: 10px;
		z-index: 200;
}

.cart-box {
		padding: 20px 15px;
}

.cart-list {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid #cacac7;
}
.cart-list__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
		color: #323232;
		font-size: 0.93em;
		text-align: left;
		line-height: 1.3em;
}
.cart-list__items:nth-child(2) .cart-list__name {
		padding-top: 12px;
}
.cart-list__btn {
		width: 170px;
		padding: 13px 0;
		color: #fefefe;
		font-size: 1.3em;
		font-weight: 700;
		box-shadow: 0 1px 2px #ac1000;
		background-color: #e84d37;
		background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
		border: none;
		border-radius: 30px;
		outline: none;
		transform: translateX(170px);
		cursor: pointer;
}
.cart-list__btn:hover {
		box-shadow: 0 2px 2px #ac1000;
		background-image: linear-gradient(to top, #f17d64 0%, #f26843 100%);
}
.cart-list__btn:active {
		box-shadow: inset 0 2px 2px #942718;
		background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.price {
		color: #999999;
}

.total {
		display: block;
		margin-top: 15px;
		margin-bottom: 15px;
		color: #323232;
		font-size: 1.1em;
		font-weight: 700;
		text-align: right;
}

.slider-box {
		position: relative;
		min-height: 565px;
}

.toggle-box {
		position: absolute;
		display: flex;
		bottom: 0;
		z-index: 50;
}

.toggle-off {
		display: block;
		width: 21px;
		height: 21px;
		margin-right: 10px;
		background-color: transparent;
		border: 1px solid #ffff;
		border-radius: 50%;
		cursor: pointer;
		transition: all 0.5s ease-out;
}

.toggle-off:last-child {
		margin-right: 0;
}

#radio-one:checked ~ .toggle-box .toggle-off:nth-child(1),
#radio-two:checked ~ .toggle-box .toggle-off:nth-child(2),
#radio-three:checked ~ .toggle-box .toggle-off:nth-child(3) {
		background-color: #fff;
}

#radio-one:hover ~ .toggle-box .toggle-off:nth-child(1),
#radio-two:hover ~ .toggle-box .toggle-off:nth-child(2),
#radio-three:hover ~ .toggle-box .toggle-off:nth-child(3) {
		background-color: #e0e0e0;
}

#radio-one:active ~ .toggle-box .toggle-off:nth-child(1),
#radio-two:active ~ .toggle-box .toggle-off:nth-child(2),
#radio-three:active ~ .toggle-box .toggle-off:nth-child(3) {
		background-color: #fff;
}

#radio-one:checked ~ .slider .slider__item:nth-child(1),
#radio-two:checked ~ .slider .slider__item:nth-child(2),
#radio-three:checked ~ .slider .slider__item:nth-child(3) {
		display: block;
}

.slider {
		width: 100%;
		display: flex;
		justify-content: row;
}
.slider__item:nth-child(1) {
		display: none;
}
.slider__item:nth-child(2) {
		display: none;
}
.slider__item:nth-child(3) {
		display: none;
}
.slider__title {
		position: relative;
		width: 58.2532751092%;
		margin: 0 auto;
		font-size: 3.75em;
		font-weight: 700;
		transform: translateY(350px);
		z-index: 20;
}
.slider__btn {
		position: relative;
		min-width: 280px;
		display: block;
		margin: 0 auto;
		padding: 15px 0;
		color: #ffff;
		text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
		font-size: 2em;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
		background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
		border: none;
		outline: none;
		border-radius: 20px;
		transform: translateY(370px);
		cursor: pointer;
		z-index: 30;
}
.slider__btn:hover {
		box-shadow: 0 2px 2px #ac1000;
		background-image: linear-gradient(to top, #f17d64 0%, #f26843 100%);
}
.slider__btn:active {
		box-shadow: inset 0 2px 2px #942718;
		background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.slider-img {
		position: relative;
}
.slider-img__left {
		position: absolute;
		top: 40px;
		left: 245px;
		z-index: 4;
}
.slider-img__right {
		position: absolute;
		top: 90px;
		right: 250px;
		z-index: 2;
}
.slider-img__backlight {
		position: absolute;
		top: -80px;
		z-index: 1;
		pointer-events: none;
}

.banner-box {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin: 40px 0;
		z-index: 100;
}

.banner__inner {
		padding: 20px;
}
.banner__title {
		margin-bottom: 20px;
		text-align: left;
		font-size: 2.19em;
		font-weight: 700;
}
.banner__text {
		margin-bottom: 45px;
		text-align: left;
		font-size: 1.13em;
		font-weight: 700;
}
.banner__btn {
		min-width: 165px;
		padding: 15px 0;
		color: #ffffff;
		text-align: center;
		font-size: 1.13em;
		font-weight: 700;
		box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
		background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
		border: none;
		border-radius: 20px;
		outline: none;
		transform: translateX(355px);
		cursor: pointer;
}
.banner__btn-right {
		min-width: 189px;
		transform: translateX(333px);
}
.banner__btn:hover {
		box-shadow: 0 2px 2px #ac1000;
		background-image: linear-gradient(to top, #f17d64 0%, #f26843 100%);
}
.banner__btn:active {
		box-shadow: inset 0 2px 2px #942718;
		background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.banner-left {
		flex-basis: 50%;
		margin-right: 20px;
		background-image: url("/img/banner_01.png");
		background-repeat: no-repeat;
}

.banner-right {
		flex-basis: 50%;
		background-image: url("/img/banner_02.png");
		background-repeat: no-repeat;
}

.ice-cream {
		margin-bottom: 40px;
}
.ice-cream__container {
		display: flex;
		justify-content: space-between;
}
.ice-cream__link {
		color: #ffff;
		font-weight: 500;
		border-bottom: 1px solid #8fa699;
}
.ice-cream__link:hover {
		color: #ffbc9e;
}
.ice-cream__link:active {
		color: #ffbc9e;
		border-bottom: none;
}

.ice-cream-item {
		flex-basis: 50%;
		margin-right: 25px;
		text-align: center;
}

.ice-cream-item:last-child {
		margin-right: 0;
}

.icer-cream__img {
		position: relative;
		margin-bottom: 20px;
		text-align: left;
}

.ice-cream-price {
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 2.63em;
		font-weight: 700;
		text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.ice-cream-weight {
		font-size: 0.76em;
		font-weight: 700;
		text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.img-hit {
		position: absolute;
		top: 0;
		left: 0;
}

.shop-gllacy {
		width: 100%;
		margin-bottom: 40px;
}
.shop-gllacy__inner {
		display: flex;
		flex-direction: column;
		padding: 25px;
		color: #323232;
		background-image: url("/img/shop_wafer.png");
		background-repeat: no-repeat;
}
.shop-gllacy__container {
		display: flex;
		justify-content: space-between;
}
.shop-gllacy__left {
		flex-basis: 50%;
		margin-right: 30px;
}
.shop-gllacy__right {
		flex-basis: 50%;
}
.shop-gllacy__title {
		margin-top: 0;
		margin-bottom: 25px;
		font-size: 1.5em;
		font-weight: 500;
}
.shop-gllacy__text {
		position: relative;
		margin-left: 50px;
		padding-left: 8px;
		line-height: 1.3em;
}
.shop-gllacy__text:nth-child(1) {
		margin-bottom: 30px;
}

.ice::before {
		display: block;
		position: absolute;
		top: -15px;
		left: -50px;
		width: 49px;
		height: 49px;
		content: "";
		background-image: url("/img/shop_1.svg");
}

.cow::before {
		display: block;
		position: absolute;
		top: -15px;
		left: -50px;
		width: 49px;
		height: 49px;
		content: "";
		background-image: url("/img/shop_3.svg");
}

.leaflet::before {
		display: block;
		position: absolute;
		top: -15px;
		left: -50px;
		width: 49px;
		height: 49px;
		content: "";
		background-image: url("/img/shop_2.svg");
}

.thermometer::before {
		display: block;
		position: absolute;
		top: -15px;
		left: -50px;
		width: 49px;
		height: 49px;
		content: "";
		background-image: url("/img/shop_4.svg");
}

.blog-box {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
}

.blog {
		flex-basis: 50%;
		margin-right: 20px;
		background-image: url("/img/blog_1.png");
		background-repeat: no-repeat;
}
.blog__title {
		display: block;
		margin-bottom: 15px;
		color: #323232;
		text-align: left;
		font-weight: 500;
}
.blog__link {
		display: inline-block;
		width: 300px;
		color: #323232;
		font-size: 1.5em;
		font-weight: 700;
		line-height: 1.3em;
		text-decoration: underline;
}

.blog-inner {
		padding: 20px 20px 75px 20px;
}

.mailing {
		flex-basis: 50%;
		padding: 5px 0;
		padding-left: 5px;
		padding-right: 10px;
		background-image: url("/img/blog_2.png");
		background-repeat: no-repeat;
}
.mailing__text {
		margin-bottom: 35px;
		color: #5a5a5a;
		line-height: 1.3em;
}
.mailing__input {
		min-width: 69.2456479691%;
		padding: 15px;
		color: #999999;
		font-weight: 400;
		border: 1px solid #d7d7d7;
		border-radius: 10px;
}
.mailing__input::placeholder {
		color: #999999;
		font-weight: 400;
}
.mailing__btn {
		width: 133px;
		margin-left: 10px;
		padding: 15px 0;
		color: #fefefe;
		font-size: 1.13em;
		font-weight: 700;
		text-align: center;
		box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
		background-color: #e84d37;
		background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
		border: none;
		outline: none;
		border-radius: 30px;
		cursor: pointer;
}
.mailing__btn:hover {
		box-shadow: 0 2px 2px #ac1000;
		background-image: linear-gradient(to top, #f17d64 0%, #f26843 100%);
}
.mailing__btn:active {
		box-shadow: inset 0 2px 2px #942718;
		background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.mailing-inner {
		height: 100%;
		margin: 0 auto;
		padding-top: 35px;
		padding-left: 15px;
		background-color: #f8f7f4;
		border-radius: 10px;
}

.navigation {
		margin-top: 15px;
}
.navigation__item {
		position: relative;
		margin-right: 15px;
		color: #ffffff;
		font-size: 0.87em;
		border-bottom: 1px solid #aebeb5;
}
.navigation__item:not(:last-child)::after {
		position: absolute;
		top: 0;
		right: -12px;
		display: block;
		content: "»";
}
.navigation__item:last-child {
		border-bottom: none;
		margin-right: 0;
}

.filter__title {
		margin-top: 13px;
		margin-bottom: 30px;
		font-size: 2.2em;
		font-weight: 700;
}

.filter__form {
		width: 100%;
		display: flex;
		flex-direction: column;
}

.filter-up {
		display: flex;
}

.filter-sort {
		width: 195px;
		display: flex;
		flex-direction: column;
		margin-right: 15px;
}
.filter-sort__title {
		margin-bottom: 6px;
		padding-left: 16px;
		font-size: 0.87em;
		font-weight: 500;
}
.filter-sort__list {
		width: 100%;
}
.filter-sort__item {
		position: relative;
		padding-top: 14px;
		padding-left: 16px;
		padding-bottom: 11px;
		color: #ffffff;
		font-weight: 500;
		background-color: #aabab0;
		line-height: 0.5em;
		border-radius: 20px;
		cursor: pointer;
		transition: all 0.2s linear;
}
.filter-sort__item::after {
		display: block;
		content: "";
		position: absolute;
		top: 15px;
		right: 15px;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 8px solid #ffffff;
}
.filter-sort__item:hover {
		color: #323232;
}
.filter-sort__item:hover::after {
		border-top: 8px solid #323232;
}
.filter-sort__sublist {
		display: none;
		width: 192px;
		position: absolute;
		top: 33px;
		left: 0;
		background-color: #ffffff;
}
.filter-sort__sublist-item {
		padding: 10px 0;
		padding-left: 20px;
		color: #323232;
		font-size: 0.87em;
		cursor: pointer;
}
.filter-sort__sublist-item:hover {
		color: #fff;
		background-color: #1e90ff;
}

.filter-price {
		width: 220px;
		margin-right: 15px;
}
.filter-price__sort {
		width: 185px;
		margin-bottom: 6px;
		padding-left: 16px;
		font-size: 0.87em;
		font-weight: 500;
}

.price-min,
.price-max {
		width: 25px;
		color: #ffffff;
		border: none;
		outline: none;
		background-color: transparent;
}

.price-min::placeholder,
.price-max::placeholder {
		color: #ffffff;
}

.control-box {
		position: relative;
		width: 220px;
		padding: 15px 20px;
		background-color: #aabab0;
		border-radius: 20px;
		box-sizing: border-box;
}
.control-box .range-toggle {
		position: absolute;
		top: 7px;
		width: 4px;
		height: 4px;
		background: #ababab;
		border: 8px solid #ffffff;
		border-radius: 50%;
		cursor: pointer;
		transition: all 0.15s linear;
}
.control-box .range-toggle:hover {
		top: 5px;
		border: 9px solid #ffffff;
}
.control-box .range-toggle-min {
		left: 30px;
}
.control-box .range-toggle-max {
		right: 55px;
}

.control-basic {
		width: 100%;
		height: 2px;
		background-color: #d1d9d3;
}
.control-basic_white {
		height: 2px;
		margin-left: 13px;
		margin-right: 53px;
		background-color: #fff;
}

.filter-fat {
		width: 415px;
}
.filter-fat__title {
		margin-bottom: 6px;
		padding-left: 16px;
		font-size: 0.87em;
		font-weight: 500;
}

.fat-box {
		width: 100%;
		padding: 8px 15px;
		background-color: #aabab0;
		border-radius: 20px;
		box-sizing: border-box;
}

.fat-radio {
		display: inline-block;
		position: relative;
		margin-right: 12px;
		margin-left: 22px;
		padding-left: 10px;
		cursor: pointer;
}

.fat-radio:last-child {
		margin-right: 0;
}

.fat-radio::before {
		position: absolute;
		top: -2px;
		left: -22px;
		display: block;
		content: "";
		width: 22px;
		height: 22px;
		background-image: url("../img/radio-off.png");
		opacity: 0.8;
		cursor: pointer;
}

.fat-radio:hover::before {
		opacity: 1;
}

#fat-0:checked ~ .fat-0::before,
#fat-10:checked ~ .fat-10::before,
#fat-30:checked ~ .fat-30::before,
#fat-50:checked ~ .fat-50::before {
		background-image: url("../img/radio-on.png");
}

#fat-0:disabled ~ .fat-0::before,
#fat-10:disabled ~ .fat-10::before,
#fat-30:disabled ~ .fat-30::before,
#fat-50:disabled ~ .fat-50::before {
		opacity: 0.4;
}

.footer-top-box {
		position: relative;
		width: 100%;
}
.footer-top-box__address {
		position: absolute;
		top: 10%;
		right: 150px;
		max-width: 302px;
		background-color: #fdfdfc;
		border-radius: 10px;
}
.footer-top-box__inner {
		padding: 30px 25px;
		color: #323232;
}
.footer-top-box__text {
		font-size: 0.87em;
		line-height: 1.5em;
}
.footer-top-box__text strong {
		display: block;
		margin-bottom: 20px;
		font-size: 1.3em;
		line-height: 1.5em;
}
.footer-top-box__text:last-of-type {
		margin-bottom: 25px;
}
.footer-top-box__btn {
		width: 100%;
		padding: 12px;
		color: #fefefe;
		font-size: 1.14em;
		font-weight: 700;
		background-color: #e84d37;
		background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
		border: none;
		border-radius: 20px;
		outline: none;
		cursor: pointer;
}
.footer-top-box__btn:hover {
		box-shadow: 0 2px 2px #ac1000;
		background-image: linear-gradient(to top, #f17d64 0%, #f26843 100%);
}
.footer-top-box__btn:active {
		box-shadow: inset 0 2px 2px #942718;
		background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.footer-top__text .footer-tel {
		margin-bottom: 0;
}

.footer-down-box {
		margin-top: 20px;
		margin-bottom: 25px;
}

.footer-down-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
}
.footer-down-container__social {
		width: 17.4672489083%;
}
.footer-down-container__social-link {
		display: inline-block;
		width: 32px;
		height: 32px;
		margin-right: 10px;
		background-color: transparent;
		border: 3px solid #c1cec7;
		border-radius: 50%;
}
.footer-down-container__social-link:last-child {
		margin-right: 0;
}
.footer-down-container__social-tw {
		background-image: url("/img/tw.svg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		opacity: 0.8;
}
.footer-down-container__social-inst {
		background-image: url("/img/ins.svg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		opacity: 0.8;
}
.footer-down-container__social-fb {
		background-image: url("/img/fb.svg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		opacity: 0.8;
}
.footer-down-container__social-vk {
		background-image: url("/img/vk.svg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		opacity: 0.8;
}
.footer-down-container__social-tw:hover, .footer-down-container__social-inst:hover, .footer-down-container__social-fb:hover, .footer-down-container__social-vk:hover {
		opacity: 1;
}
.footer-down-container__social-tw:active, .footer-down-container__social-inst:active, .footer-down-container__social-fb:active, .footer-down-container__social-vk:active {
		opacity: 0.9;
}
.footer-down-container__link {
		width: 28.8209606987%;
}
.footer-down-container__link-item {
		position: relative;
		display: inline-block;
		margin-left: 20px;
		color: #ffffff;
		font-size: 0.85em;
		text-align: left;
		line-height: 1.5em;
		border-bottom: 1px solid #8fa699;
}
.footer-down-container__link-item:nth-child(1)::before {
		position: absolute;
		top: 3px;
		left: -20px;
		display: block;
		width: 15px;
		height: 13px;
		content: "";
		background-image: url("/img/footer_heart.svg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
}
.footer-down-container__link-item:nth-child(4) {
		margin-left: 25px;
}
.footer-down-container__link-item:hover {
		color: #ffbc9e;
}
.footer-down-container__link-item:active {
		color: #ffbc9e;
		border-bottom: none;
}
.footer-down-container__logo {
		width: 16.5938864629%;
}
.footer-down-container__logo-link {
		display: block;
		margin-bottom: 5px;
}
.footer-down-container__logo-link:last-child {
		color: #fefefe;
		font-size: 0.75em;
}
.footer-down-container__logo-link:hover, .footer-down-container__logo-link:active {
		color: #ffbc9e;
}