.banner-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
	

	z-index: 100;
}

.banner {

	&__inner {
		padding: 20px;
	}

	&__title {
		margin-bottom: 20px;

		text-align: left;
		font-size: 2.19em;
		font-weight: 700;
	}

	&__text {
		margin-bottom: 45px;

		text-align: left;
		font-size: 1.13em;
		font-weight: 700;
	}

	&__btn {
		min-width: 165px;
		padding: 15px 0;

		color: #ffffff;
		text-align: center;
		font-size: 1.13em;
		font-weight: 700;

		box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
		background-image: $bgi-orng;
		border: none;
		border-radius: 20px;
		outline: none;

		transform: translateX(355px);
		cursor: pointer;
	}

	&__btn-right {
		min-width: 189px;

		transform: translateX(333px);
	}

	&__btn:hover {
		box-shadow: 0 2px 2px #ac1000;
		background-image: linear-gradient(to top, #f17d64 0%, #f26843 100%);
	}

	&__btn:active {
		box-shadow: inset 0 2px 2px #942718;
		background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
	}

}

.banner-left {
	flex-basis: 50%;
	margin-right: 20px;
	background-image: url('/img/banner_01.png');
	background-repeat: no-repeat;
}

.banner-right {
	flex-basis: 50%;

	background-image: url('/img/banner_02.png');
	background-repeat: no-repeat;
}