.header {

	&__menu {
		display: flex;
		justify-content: space-between;
		padding-top: 10px;
	}
}

.menu-left {
	width: 630px/1145px*100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&__item {
		position: relative;
	}

	&__link {
		color: #ffffff;
		font-weight: 700;

		border-bottom: 1px solid #a1b6aa;
	}

	&__link:hover {
		padding: 10px 14px;

		color: $black;
		text-align: center;

		background-color: #f7f6f3;
		border: none;
		border-radius: 30px;

		transition: all .5s ease-out;
	}

	&__link:active {
		box-shadow: inset 0 2px 1px #696969;
		background-color: #f8f7f4;

		transition: all .3s ease-out;
	}

	&__submenu:hover .submenu {
		display: block;
	}

	&__item:nth-child(3) {
		margin-left: 25px;
		margin-right: 30px;
	}

	&__logo {
		margin-right: 25px;

		/* 		img {
			max-width: 100%;
		} */
	}
}

.submenu {
	position: absolute;
	top: 30px;
	left: -5px;
	z-index: 100;
	display: none;
	min-width: 145px;

	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	background-color: #f8f7f4;
	border-radius: 10px;
	border-top: 3px solid #91ac9d;

	&__item {
		padding: 10px 0;

		cursor: pointer;
	}

	&__item:not(:first-child):hover {
		background-color: #fbded7;
	}

	&__item:not(:first-child):active {
		background-color: #f6b5a5;
	}

	&__underline {
		position: relative;
	}

	&__underline::after {
		position: absolute;
		top: 35px;
		left: 10px;
		content: "";
		width: 128px;
		height: 1px;
		background-color: #d1d0ce;
	}

	&__link {
		padding-left: 20px;

		color: $black;
		font-size: .85em;
	}

	&__active {
		font-weight: 700;
	}
}

.menu-right-box {
	width: 265px/1145px*100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.time-job {
	position: absolute;
	top: 90%;
	right: 0;
	display: flex;
	flex-direction: column;

	text-align: right;

	&__time {
		margin-bottom: 3px;

		font-size: .87em;
		font-weight: 700;
	}

	&__tell {
		font-size: 1.38em;
		font-weight: 700;
	}
}

.menu-right {
	position: relative;
	display: flex;
	justify-content: space-between;

	&__item {
		min-width: 100px;
		margin-right: 10px;
		padding: 8px 0;

		font-size: .87em;
		font-weight: 500;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 20px;

		cursor: pointer;
	}

	&__item:first-child {
		position: relative;
		min-width: 35px;
	}

	&__item:nth-child(2) {
		position: relative;
	}



	&__item:last-child {
		margin-right: 0;
	}

	&__item:hover {
		background-color: #f8f7f4;

		transition: all .5s ease-out;

		.login:before {
			background-image: url("../img/login-hover.svg");

			transition: all .5s ease-out;
		}

		.login {
			color: $black;

			transition: all .5s ease-out;
		}

		.search {
			background-image: url("../img/loupe-hover.svg");

			transition: all .5s ease-out;
		}

		.cart::before {
			background-image: url("../img/cart-hover.svg");

			transition: all .5s ease-out;
		}

		.cart {
			color: $black;

			transition: all .5s ease-out;
		}

	}

	&__item:active {
		box-shadow: inset 0 2px 1px #696969;
		background-color: #f8f7f4;
		transition: all 0.3s ease-out;
	}
}

.search {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 8px;
	left: 9px;
	display: block;
	width: 17px;
	height: 17px;

	background-image: url("../img/loupe.svg");
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.login {
	position: relative;
	margin-left: 21px;
	padding-left: 10px;

	color: #ffffff;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.login::before {
	position: absolute;
	top: -2px;
	left: -21px;
	display: block;
	width: 21px;
	height: 20px;
	content: "";

	background-image: url("../img/login.svg");
}

.cart {
	position: relative;
	margin-left: 21px;
	padding-left: 8px;

	color: #ffffff;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.cart::before {
	position: absolute;
	top: -2px;
	left: -21px;
	display: block;
	width: 21px;
	height: 20px;
	content: "";

	background-image: url("../img/cart.svg");
}

.btn-search {
	display: none;
	position: absolute;
	z-index: 100;
	top: 40px;
	right: 0;
	width: 341px;
	padding: 20px 15px;

	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	background-color: #f8f7f4;
	border-radius: 10px;	

	input {
		width: 100%;
		padding: 15px 0 15px 15px;

		color: #999999;

		border: 1px solid #d3d3d2;
		border-radius: 10px;
		box-sizing: border-box;
	}

	input::placeholder {

		color: #999999;
		font-size: .87em;
		font-weight: 400;
	}
}

.login-form {
	display: none;
	width: 280px;
	position: absolute;
	top: 35px;
	right: 2px;

	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	background-color: #f8f7f4;
	border-radius: 10px;
	z-index: 100;
}

.login-box {
	width: 100%;
	padding: 20px 20px 22px 19px;
}

.input-box {
	display: flex;
	flex-direction: column;

	input {
		width: 100%;
		margin-bottom: 20px;
		padding: 15px 0;
		padding-left: 15px;

		color: #999999;
		font-size: .87em;
		font-weight: 400;

		border: 1px solid #d3d3d2;
		border-radius: 10px;
		box-sizing: border-box;
	}

	input::placeholder {
		color: #999999;
		font-size: 1em;
		font-weight: 400;
	}
}

.link-box {
	display: flex;
	justify-content: space-between;

	&__btn {
		min-width: 100px;
		padding: 15px 0;

		color: #fefefe;
		font-size: 1.3em;
		font-weight: 700;
		text-align: center;

		box-shadow: 0 1px 2px #ac1000;
		background-color: $bgc-orng;
		background-image: $bgi-orng;
		border: none;
		border-radius: 18px;
		outline: none;

		cursor: pointer;

	}

	&__btn:hover {
		box-shadow: 0 2px 2px #ac1000;
		background-color: rgba(255, 255, 255, 0.2);
		background-color: #ffffff;
		background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);

		transition: all 0.3s ease-out 0.1s;
	}

	&__btn:active {
		box-shadow: inset 0 2px 2px #942718;
		background-color: rgba(0, 0, 0, 0.07);
		background-color: #ffffff;
		background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);

		transition: all 0.3s ease-out 0.1s;
	}
}

.link {
	display: flex;
	flex-direction: column;
	justify-content: center;

	a {
		margin-bottom: 8px;

		text-align: left;
		color: $black;	
		font-size: 0.95em;		
		text-decoration: underline;
	}

	a:last-child	{
		margin-bottom: 0;
	}

	a:hover, a:active {
		color: #e84d37;
	}
}