.navigation {
	margin-top: 15px;

	&__item {
		position: relative;
		margin-right: 15px;

		color: #ffffff;
		font-size: .87em;

		border-bottom: 1px solid #aebeb5;
	}

	&__item:not(:last-child)::after {
		position: absolute;
		top: 0;
		right: -12px;
		display: block;
		content: '»';
	}

	&__item:last-child {
		border-bottom: none;
		margin-right: 0;
	}
}