//Подключение штрифтов
@import "fonts";
//Сброс станицы
@import "reset";

//Переменные 
$black: #323232;
$bgc-orng: #e84d37;
$bgi-orng:linear-gradient(to top, #e74a35 0%, #f26843 100%);

//Body
body {
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	
	background-color: #849d8f;
}

//Обертка
.wrap {
	width: 100%;
	max-width: 1165px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

//HIDDEN
.visually-hidden {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

//Header
@import "header";

//Main
@import "main";

//Slider
@import "slider";

//Banner
@import "banner";

//Ice_Cream
@import "iceCream";

//Shop_Gllacy
@import "shopGllacy";

//Blog
@import "blog";